footer {
  height: 124px;
  background: var(--default-gray-900, #111827);
}
.footercontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 20px;
}
footer .title {
  color: var(--default-white, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; 
}
footer .contact {
  color: var(--default-white, #fff);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
footer .sale {
  color: var(--default-gray-200, #e5e7eb);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; 
  align-self: flex-end;
}
