:root {
  --default-white: #ffffff;
}
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Anton", sans-serif;
  font-family: "Nunito", sans-serif;
  font-family: "Roboto", sans-serif;
}
.mainmargin {
  width: 88%;
  margin: 0 auto;
}
.mainflexcenter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.width50{
  width: 48%;
}

